<template>
    <div>
      <dt>{{title|capitalize}}</dt>
      <dd v-if="description">{{description}}</dd>
      <dd v-else>-</dd>
    </div>
</template>

<script>
export default {
  name: 'TitleDescription',
  props: ['title', 'description']
}
</script>

<style scoped>
  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
    padding: 0 0 0.5rem 0;
    line-height: 1.8rem;
  }

  dt, dd {
    font-size: 1rem !important;
    color: #222222;
  }

  dt {
    color: #222222;
  }

  dd {
    color: #7e7e7e;
  }
</style>
