<template>
  <div class="container">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <section class="post-heading">
            <div class="row">
              <div class="col-lg-12">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object photo-profile" id="myImg" :src="imageURL" width="40" height="40" alt="...">
                  </div>
                  <div class="media-body">
                    <a href="#" class="anchor-username"><h4 class="media-heading">{{title}}</h4></a>
                    <h5 class="media-heading">{{type}}</h5>
                    <h6 class="anchor-time">{{publishedAt}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <hr>
          <section class="post-body">
            <p>{{body}}</p>
          </section>
          <section class="post-footer">
            <hr>
            <a href="#" class="anchor-username" v-if="likeCount > 0"><h5>{{likeCount}} j'aime</h5></a>
            <h6 v-else-if="likeCount == 0">Soyez le premier à aimer cette publication</h6>
            <div class="post-footer-option container">
              <ul class="list-unstyled" v-if="isFavorite">
                <li><a href="#" @click="favorite"><i class="glyphicon glyphicon-thumbs-up thumbs-up-blue"></i> Je n'aime
                  plus</a></li>
                <!--<li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>-->
              </ul>
              <ul class="list-unstyled" v-else>
                <li><a href="#" @click="favorite"><i class="glyphicon glyphicon-thumbs-up"></i> J'aime</a></li>
                <!--<li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>-->
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ActDocument from '../../models/acts/act-document'

export default {
  name: 'SingleNewsComponent',
  props: ['isFavorite', 'actID', 'type', 'title', 'body', 'publishedAt', 'imageURL'],
  data () {
    return {
      likeCount: -1
    }
  },
  mounted () {
    this.setupLikeCount()
  },
  methods: {
    setupLikeCount () {
      new ActDocument({id: this.actID}).getLikeCount().then(count => {
        this.likeCount = count
      })
    },
    favorite () {
      if (this.isFavorite) {
        new ActDocument({id: this.actID}).removeFromFavorites().then(() => {
          this.isFavorite = false
          this.setupLikeCount()
          this.$message.info('Acte supprimé des favoris')
        })
      } else {
        new ActDocument({id: this.actID}).addToFavorites().then(() => {
          this.$message.success('Acte ajouté au favoris')
          this.isFavorite = true
          this.setupLikeCount()
        }).catch(error => {
          console.log(error)
          this.$message.error('Une erreur est survenue, veuillez réessayer')
        })
      }
    }
  }
}
</script>

<style scoped>
  /*-- Global Selectors --*/
  a {
    color: #47649F;
  }

  body {
    font-family: 'helvetica', sans-serif;
  }

  /*-- Bootstrap Override Style --*/

  /*-- Content Style --*/
  .post-footer-option li {
    float: left;
    margin-right: 50px;
    padding-bottom: 15px;
  }

  .post-footer-option li a {
    color: #AFB4BD;
    font-weight: 500;
    font-size: 1.3rem;
  }

  .photo-profile {
    border: 1px solid #DDD;
    height: 100px;
    width: 100px;
  }

  .anchor-username h4 {
    font-weight: bold;
  }

  .anchor-time {
    color: #ADB2BB;
    font-size: 1.2rem;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  .thumbs-up-blue {
    color: darkblue;
  }

  .thumbs-up-blue {
    color: darkblue;
  }

  #myImg:hover {
    opacity: 0.7;
  }
</style>
