<template>
  <el-container>
    <side-bar :activeIndex="$route.path"/>
    <el-main class="full-height">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
        <el-breadcrumb-item>Gestion des utilisateurs</el-breadcrumb-item>
      </el-breadcrumb>
      <br/>
      <div style="margin-bottom: 10px">
        <el-row>
          <el-col :span="10">
            <el-input v-model="filters[0].value" placeholder="Chercher les utilisateurs par nom, prénom, téléphone, email ou rôle"></el-input>
          </el-col>
          <el-button type="primary" icon="el-icon-plus" circle class="float-right" @click="addUser"></el-button>
        </el-row>
      </div>

      <data-tables :data="users" @selection-change="handleSelectionChange" :filters="filters">
        <el-table-column
          prop="firstName"
          label="Prénom">
        </el-table-column>
        <el-table-column
          prop="lastName"
          label="Nom">
        </el-table-column>
        <el-table-column
          prop="email"
          label="Email">
        </el-table-column>
        <el-table-column
          prop="phoneNumber"
          label="Téléphone">
        </el-table-column>
        <el-table-column
          prop="role"
          label="Role">
        </el-table-column>
        <el-table-column
          prop="isActive"
          label="Activé">
          <template slot-scope="scope">
            <el-switch v-model="users[scope.$index].isActive"
                       @change="changeActive(scope.$index, users)"></el-switch>
          </template>
        </el-table-column>
        <el-table-column
          prop="createdAt"
          label="Ajouté le">
        </el-table-column>
        <el-table-column
          prop="updatedAt"
          label="Modifié le">
        </el-table-column>
        <el-table-column
          label="Actions"
          width="150">
          <template slot-scope="scope">
            <el-button type="primary" size="small" @click="edit(scope.$index, users)">Editer</el-button>
            <el-button type="text" size="small" @click="remove(scope.$index, users)">Supprimer</el-button>
          </template>
        </el-table-column>
      </data-tables>
    </el-main>
  </el-container>
</template>

<script>
import SideBar from '@/components/private/shared/SideBar'
import User from '@/models/users/user'
import moment from 'moment'

moment.locale('fr')
export default {
  name: 'UsersList',
  components: {SideBar},
  data () {
    return {
      users: this.users,
      filters: [{
        prop: ['firstName', 'lastName', 'email', 'role'],
        value: ''
      }],
      selectedRow: []
    }
  },
  mounted () {
    this.initData()
  },
  methods: {
    addUser () {
      this.$router.push({name: 'create-user'})
    },
    changeActive (index, rows) {
      new User({uid: rows[index].uid}).setActive(!rows[index].isActive).then(timestamp => {
        rows[index].updatedAt = moment(timestamp).format('LLL')
      })
    },
    initData () {
      new User({}).getUsers().then(users => {
        this.users = users
      }).catch(error => {
        this.$message.warning('Une erreur est survenue, vérifiez votre connexion internet')
        console.log(error)
      })
    },
    handleSelectionChange (val) {
      this.selectedRow = val
    },
    edit (index, rows) {
      this.$router.push({name: 'create-user', params: {uid: rows[index].uid}})
    },
    remove (index, rows) {
      rows[index].remove().then(() => {
        this.users.splice(i, 1)
      }).catch(error => {
        console.log(error)
        this.$message.warning('Une erreur est survenue, vérifiez votre connexion internet')
      })
    }
  }
}
</script>
<style>
  .float-right {
    margin-right: 40px;
  }
</style>
