<template>
  <VerificationList></VerificationList>
</template>

<script>
import VerificationList from './VerificationList'

export default {
  name: 'Verifications',
  components: {VerificationList}
}
</script>
