<template>
  <admin-layout>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
    </el-breadcrumb>
  </admin-layout>
</template>

<script>
import AdminLayout from '../../layouts/admin/AdminLayout'

export default {
  name: 'DashboardIndex',
  components: {AdminLayout}
}
</script>
