<template>
  <public-layout>
    <el-card>
      <div class="el-input">
        <gmap-autocomplete
          :componentRestrictions="{country: 'ca'}"
          :select-first-on-enter="true" class="el-input__inner" @place_changed="setPlace"/>
      </div>

      <div class="margin-top">
        <GmapMap @click="setPlace" style="width: 100%; height: 400px;" :zoom="14" :center="center">
          <GmapMarker
            v-if="this.place"
            :position="{
          lat: this.place.geometry.location.lat(),
          lng: this.place.geometry.location.lng(),
        }"
          />
        </GmapMap>
      </div>

      <el-row class="margin-top" :gutter="16">
        <el-col :span="12">
          <el-carousel :interval="4000" type="card" height="300px" v-if="photos.length > 0">
            <el-carousel-item v-for="(item, index) in photos" :key="index">
              <img :src="item" class="cover"/>
            </el-carousel-item>
          </el-carousel>
        </el-col>
      </el-row>
    </el-card>
  </public-layout>
</template>

<script>
import PublicLayout from '../layouts/public/PublicLayout'

export default {
  name: 'Tests',
  components: {PublicLayout},
  data () {
    return {
      place: null,
      photos: [],
      marker: null,
      center: {
        lat: 46.829853,
        lng: -71.254028
      }
    }
  },
  methods: {
    setPlace (place) {
      console.log(place)
      if (place.geometry) {
        this.place = place
        this.center = {
          lat: place.geometry.location.lat(),
          lng: place.geometry.location.lng()
        }
      }
      if (place.photos) {
        this.photos = place.photos.map(photo => photo.getUrl({maxWidth: 340}))
      } else {
        this.photos = []
      }
    }
  }
}
</script>
<style>
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    margin: 0;
  }

  .cover {
    object-fit: cover;
    width: 100%;
    height: 300px;
  }
</style>
