<template>
  <div id="app">
    <nav-bar/>
    <router-view/>
  </div>
</template>

<script>
import NavBar from './components/layouts/NavBar'

export default {
  name: 'app',
  components: {NavBar},
  mounted () {
    this.$store.dispatch('users/syncAuthUser')
      .catch(error => {
        console.log(error)
      })
  }
}
</script>
