<template>
  <admin-layout>
    <lot-details :lot="lot"/>
  </admin-layout>
</template>

<script>
import { Loading } from 'element-ui'

import AdminLayout from '../../../layouts/admin/AdminLayout'
import LotDetails from '../../../components/acts/LotDetails'

import Lot from '../../../core/models/acts/lot'

export default {
  name: 'LotDetailsPage',
  components: {AdminLayout, LotDetails},
  data () {
    return {
      lot: new Lot({})
    }
  },
  mounted () {
    if (this.$route.params.id) {
      let loadingInstance = Loading.service({target: '#content'})
      new Lot({}).fetch(this.$route.params.id)
        .then(record => {
          // @TODO find a solution to sort history by date
          let history = record.history.sort((a, b) => a.date >= b.date)
          this.lot = new Lot({
            ...record,
            history
          })
          loadingInstance.close()
        })
        .catch(e => {
          loadingInstance.close()
          console.log(e)
        })
    }
  }
}
</script>
