<template>
  <admin-layout>
    <process-lot-form :lot="lot"/>
  </admin-layout>
</template>

<script>
import { Loading } from 'element-ui'
import moment from 'moment-timezone'
import AdminLayout from '../../../layouts/admin/AdminLayout'
import ProcessLotForm from '../../../components/acts/ProcessLotForm'
import Lot from '../../../core/models/acts/lot'
import Act from '../../../core/models/acts/classes/act'
import { actStatus } from '../../../core/models/acts/enum/acts-status'

moment.locale('fr')

export default {
  name: 'LotForm',
  components: {AdminLayout, ProcessLotForm},
  data () {
    return {
      lot: new Lot({})
    }
  },
  mounted () {
    if (this.$route.params.id) {
      let loadingInstance = Loading.service({target: '#content'})
      new Lot({}).fetch(this.$route.params.id)
        .then(record => {
          let inscriptionDate = null
          let deadline = null
          // if (record.act.inscriptionDate && typeof record.inscriptionDate !== 'string') {
          //   // inscriptionDate = new Date(record.act.inscriptionDate.seconds * 1000)
          //   inscriptionDate = moment.utc(moment.unix(record.act.inscriptionDate.seconds)).format('DD/MM/YYYY')
          //   // inscriptionDate = '11/12/2018'
          // }
          // if (record.act.deadline) {
          //   // deadline = new Date(record.act.deadline.seconds * 1000)
          //   deadline = moment.utc(moment.unix(record.act.deadline.seconds)).format('DD/MM/YYYY')
          // }
          this.lot = new Lot({
            ...record,
            act: new Act(
              {
                ...record.act,
                inscriptionDate,
                deadline
              })
          })
          if (this.$route.params.action) {
            if (this.$route.params.action === 'clone') {
              this.lot.id = null
              this.lot.status = actStatus.NEW
            }
          }
          loadingInstance.close()
        })
        .catch(e => {
          loadingInstance.close()
          console.log(e)
        })
    }
  }
}
</script>
