<template>
  <admin-layout>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
      <el-breadcrumb-item>Actes fonciers publiés</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="margin-vertical">
      <lot-publication-table/>
    </div>
  </admin-layout>
</template>

<script>
import AdminLayout from '../../../layouts/admin/AdminLayout'
import LotPublicationTable from '../../../components/acts/LotPublicationTable'

// @TODO pass table data as prop
export default {
  name: 'DashboardIndex',
  components: {AdminLayout, LotPublicationTable}
}
</script>
