<template>
  <div>
    <div class="right-text">
      <el-input v-model="filters[0].value" placeholder="Chercher un acte" style="width: calc(50% - 8px)" />
    </div>
    <data-tables class="margin-top" :data="lots" :table-props="props"
                 @selection-change="handleSelectionChange" :filters="filters">
      <el-table-column fixed="left" prop="lotNumber" align="center" label="Lot n°" width="100"/>
      <el-table-column prop="act.transactionType" label="Type de transaction" min-width="250"/>
      <el-table-column prop="act.inscriptionNumber" align="center" label="Numéro d'inscription" width="120"/>
      <el-table-column prop="act.inscriptionDateDisplay" align="center" label="Date d'inscription" width="100"/>
      <el-table-column prop="act.ownerDisplay" label="Propriétaire" width="250"/>
      <el-table-column prop="act.sellerDisplay" label="Créancier" width="250"/>
      <el-table-column prop="act.juristDisplay" label="Juriste" width="250"/>
      <el-table-column prop="address.address" label="Adresse" width="250"/>
      <el-table-column prop="address.district" label="Arrondissement" width="150"/>
      <el-table-column prop="address.zipCode" label="Code postal" width="100"/>
      <el-table-column prop="address.city" label="Ville" width="150"/>
      <el-table-column prop="value" label="Montant" width="150"/>
      <el-table-column prop="comment" label="Commentaire" width="200"/>
      <el-table-column
        fixed="right"
        align="center"
        label="Actions"
        width="120">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <span class="el-dropdown-link">
              <el-button icon="el-icon-arrow-down" type="text">Choisir</el-button>
            </span>
            <el-dropdown-menu slot="dropdown" class="center-text">
              <el-dropdown-item>
                <el-button
                  icon="el-icon-view" title="Détails l'acte" style="width: 120px"
                  size="small" type="default"
                  @click="detailsAct(scope.row)">Détails</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button
                  icon="el-icon-back" title="Remettre à la saisie" style="width: 120px"
                  type="info" size="small" @click="reprocessAct(scope.row)">Remettre
                </el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button
                  icon="el-icon-share" title="Cloner l'acte" style="width: 120px"
                  size="small" type="warning"
                  @click="cloneAct(scope.row)">Cloner</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button
                  icon="el-icon-delete" title="Supprimer l'acte" style="width: 120px"
                  type="danger" size="small"
                  @click="removeAct(scope.row)">Supprimer
                </el-button>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </data-tables>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { Loading } from 'element-ui'
import { arrayHadString, cleanObject } from '../../core/helpers'
import { actStatus, actStatusPublication } from '../../core/models/acts/enum/acts-status'
// @TODO move to new models and store
export default {
  name: 'LotPublicationTable',
  data () {
    return {
      actStatus,
      actStatusPublication,
      filters: [
        {
          filterFn: (row, filterItem) => {
            return arrayHadString([
              row.act.inscriptionNumber,
              row.act.transactionType,
              row.act.ownerDisplay,
              row.act.sellerDisplay,
              row.act.juristDisplay,
              row.lotNumber,
              row.registrationNumber,
              row.folderNumber,
              row.neighborhoodUnitNumber,
              row.comment,
              row.value
            ], filterItem.value)
          }
        },
        {
          value: [],
          prop: 'status'
        }
      ],
      props: {
        stripe: true,
        border: true,
        maxHeight: '500'
      },
      selectedRow: []
    }
  },
  computed: {
    ...mapGetters({
      lots: 'lots/getPublication',
      user: 'users/getCurrentUser'
    }),
    role: function () {
      return this.user.role
    }
  },
  methods: {
    createNews (lot) {
      this.$router.push({name: 'create-news', params: {id: lot.id}})
    },
    handleSelectionChange (val) {
      this.selectedRow = val
    },
    initData () {
      let loadingInstance = Loading.service({target: '#content'})
      this.$store.dispatch('lots/syncCollection')
        .then(() => {
          loadingInstance.close()
        })
        .catch(error => {
          console.log(error)
          loadingInstance.close()
        })
    },
    detailsAct (lot) {
      this.$router.push({name: 'lot-details', params: {id: lot.id}})
    },
    reprocessAct (lot) {
      let loadingInstance = Loading.service({target: '#content'})
      lot.returnToOfficier({user: cleanObject(this.user)}).then(() => {
        loadingInstance.close()
      })
    },
    cloneAct (lot) {
      this.$router.push({name: 'lot-process', params: {id: lot.id, action: 'clone'}})
    },
    removeAct (lot) {
      this.$confirm('Voulez-vous supprimer cet acte de façon définitive. Continuer ?', 'Attention', {
        confirmButtonText: 'Continuer',
        cancelButtonText: 'Annuler',
        type: 'warning'
      }).then(() => {
        let loadingInstance = Loading.service({target: '#content'})
        lot.delete()
          .then(() => {
            loadingInstance.close()
            this.$message.success('Acte supprimé avec succès...')
          })
      }).catch(() => {
        this.$message.info('Suppression annulée...')
      })
    }
  },
  mounted () {
    this.initData()
  }
}
</script>
