<template>
  <div>
    <el-row :gutter="16">
      <el-col :span="12">
        <el-input v-model="filters[0].value" placeholder="Chercher un acte"></el-input>
      </el-col>
      <el-col :span="12">
        <el-select v-model="filters[1].value" class="full-width" placeholder="Filtrer par état" multiple="multiple">
          <el-option v-for="(status, index) in actStatusVerification" :key="index" :label="status" :value="status"/>
        </el-select>
      </el-col>
    </el-row>
    <div class="margin-vertical">
      <data-tables class="margin-top" :data="lots" :table-props="props"
                   @selection-change="handleSelectionChange" :filters="filters">
        <el-table-column fixed="left" type="selection" width="55"/>
        <el-table-column fixed="left" prop="lotNumber" align="center" label="Lot n°" width="100"/>
        <el-table-column prop="act.transactionType" label="Type de transaction" min-width="250"/>
        <el-table-column prop="act.inscriptionNumber" align="center" label="Numéro d'inscription" width="120"/>
        <el-table-column prop="act.inscriptionDateDisplay" align="center" label="Date d'inscription" width="100"/>
        <el-table-column prop="act.ownerDisplay" label="Propriétaire" width="250"/>
        <el-table-column prop="act.sellerDisplay" label="Créancier" width="250"/>
        <el-table-column prop="act.juristDisplay" label="Juriste" width="250"/>
        <el-table-column prop="address.address" label="Adresse" width="250"/>
        <el-table-column prop="address.district" label="Arrondissement" width="150"/>
        <el-table-column prop="address.zipCode" label="Code postal" width="100"/>
        <el-table-column prop="address.city" label="Ville" width="150"/>
        <el-table-column prop="value" label="Montant" width="150"/>
        <el-table-column prop="comment" label="Commentaire" width="200"/>
        <el-table-column fixed="right" prop="status" align="center" label="Etat" min-width="100"/>
        <el-table-column
          fixed="right"
          align="center"
          label="Actions"
          width="150">
          <template slot-scope="scope">
            <el-dropdown v-if="actionButtonsVisible(scope.row)" trigger="click">
            <span class="el-dropdown-link">
              <el-button icon="el-icon-arrow-down" type="text">Choisir</el-button>
            </span>
              <el-dropdown-menu slot="dropdown" class="center-text">
                <el-dropdown-item>
                  <el-button
                    icon="el-icon-share" title="Cloner l'acte" style="width: 120px"
                    size="small" type="warning"
                    @click="cloneAct(scope.row)">Cloner
                  </el-button>
                </el-dropdown-item>
                <el-dropdown-item>
                  <el-button
                    v-if="actionButtonsVisible(scope.row)"
                    icon="el-icon-menu" title="Publier l'acte" style="width: 120px"
                    type="success" size="small" @click="publishAct(scope.row)">Publier
                  </el-button>
                </el-dropdown-item>
                <el-dropdown-item>
                  <el-button
                    icon="el-icon-back" title="Remettre à la saisie" style="width: 120px"
                    type="info" size="small" @click="reprocessAct(scope.row)">Remettre
                  </el-button>
                </el-dropdown-item>
                <el-dropdown-item>
                  <el-button
                    icon="el-icon-edit" title="Corriger la saisie" style="width: 120px"
                    type="primary" size="small" @click="editAct(scope.row)">Corriger
                  </el-button>
                </el-dropdown-item>
                <el-dropdown-item>
                  <el-button
                    icon="el-icon-view" title="Détails l'acte" style="width: 120px"
                    size="small" type="default"
                    @click="detailsAct(scope.row)">Détails
                  </el-button>
                </el-dropdown-item>
                <el-dropdown-item>
                  <el-button
                    v-if="role === roles.ADMINISTRATOR.designation"
                    icon="el-icon-delete" title="Supprimer l'acte" style="width: 120px"
                    type="danger" size="small"
                    @click="removeAct(scope.row)">Supprimer
                  </el-button>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <label v-else>{{ scope.row.status + ' par ' + (scope.row.status === actStatus.BEING_PROCESSED ?
              scope.row.beingProcessedBy.actionDescription : scope.row.beingCorrectedBy.actionDescription)}}</label>
          </template>
        </el-table-column>

        <el-table-column fixed="right" align="center" label="Historique" min-width="90">
          <template slot-scope="scope">
            <div v-if="scope.row.history">
              <lot-history :actions-history="scope.row.history"/>
            </div>
            <div v-else>Aucun historique enregistré</div>
          </template>
        </el-table-column>
      </data-tables>
    </div>
    <div class="right-text">
      <el-form :inline="true">
        <el-form-item label="Pour les éléments sélectionnés">
          <el-select v-model="actionGroup" clearable placeholder="Sélectionner une action">
            <el-option label="Publier" value="publish"/>
            <el-option label="Remettre" value="reprocess"/>
            <el-option label="Supprimer" value="delete"/>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button
            :type="actionGroupButtonType"
            @click="processMultiple"
            :disabled="actionGroup === null || actionGroup === ''"
            :icon="actionGroupButtonIcon">
            Valider
          </el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { Loading } from 'element-ui'
import { arrayHadString, cleanObject } from '../../core/helpers'
import { actStatus, actStatusVerification } from '../../core/models/acts/enum/acts-status'
import { roles } from '../../core/models/users/const/roles'
import LotHistory from '../../components/acts/LotHistory'
// @TODO move to new models and store
export default {
  name: 'LotVerificationTable',
  components: {LotHistory},
  data () {
    return {
      actionGroup: null,
      roles,
      actStatus,
      actStatusVerification,
      filters: [
        {
          filterFn: (row, filterItem) => {
            return arrayHadString([
              row.act.inscriptionNumber,
              row.act.transactionType,
              row.act.ownerDisplay,
              row.act.sellerDisplay,
              row.act.juristDisplay,
              row.lotNumber,
              row.registrationNumber,
              row.folderNumber,
              row.neighborhoodUnitNumber,
              row.comment,
              row.value
            ], filterItem.value)
          }
        },
        {
          value: [],
          prop: 'status'
        }
      ],
      props: {
        stripe: true,
        border: true,
        maxHeight: '500'
      },
      selectedRow: []
    }
  },
  computed: {
    ...mapGetters({
      lots: 'lots/getVerification',
      user: 'users/getCurrentUser'
    }),
    actionGroupButtonType: function () {
      switch (this.actionGroup) {
        case 'publish':
          return 'success'
        case 'reprocess':
          return 'info'
        case 'delete':
          return 'danger'
        default:
          return 'default'
      }
    },
    actionGroupButtonIcon: function () {
      switch (this.actionGroup) {
        case 'publish':
          return 'el-icon-menu'
        case 'reprocess':
          return 'el-icon-back'
        case 'delete':
          return 'el-icon-delete'
        default:
          return 'el-icon-question'
      }
    },
    role: function () {
      return this.user.role
    }
  },
  methods: {
    handleSelectionChange (val) {
      this.selectedRow = val
    },
    processMultiple () {
      this.selectedRow.forEach(lot => {
        switch (this.actionGroup) {
          case 'publish':
            this.publishAct(lot)
            break
          case 'reprocess':
            this.reprocessAct(lot)
            break
          case 'delete':
            lot.delete()
            break
        }
      })
    },
    createNews (lot) {
      this.$router.push({name: 'create-news', params: {id: lot.id}})
    },
    actionButtonsVisible (lot) {
      if (lot.locked) {
        if (lot.beingProcessedBy && lot.beingProcessedBy.uid) {
          return lot.beingProcessedBy.uid === this.user.uid
        } else if (lot.beingCorrectedBy && lot.beingCorrectedBy.uid) {
          return lot.beingCorrectedBy.uid === this.user.uid
        } else {
          return false
        }
      }
      return true
    },
    initData () {
      let loadingInstance = Loading.service({target: '#content'})
      this.$store.dispatch('lots/syncCollection')
        .then(() => {
          loadingInstance.close()
        })
        .catch(error => {
          console.log(error)
          loadingInstance.close()
        })
    },
    detailsAct (lot) {
      this.$router.push({name: 'lot-details', params: {id: lot.id}})
    },
    cloneAct (lot) {
      this.$router.push({name: 'lot-process', params: {id: lot.id, action: 'clone'}})
    },
    editAct (lot) {
      let loadingInstance = Loading.service({target: '#content'})
      lot.startCorrection({user: cleanObject(this.user)}).then(doc => {
        loadingInstance.close()
        this.$router.push({name: 'lot-process', params: {id: doc.id}})
      }).catch(error => {
        console.log(error)
      })
    },
    publishAct (lot) {
      let loadingInstance = Loading.service({target: '#content'})
      lot.publish({user: cleanObject(this.user)}).then(_ => {
        loadingInstance.close()
      })
    },
    reprocessAct (lot) {
      let loadingInstance = Loading.service({target: '#content'})
      lot.returnToOfficier({user: cleanObject(this.user)}).then(_ => {
        loadingInstance.close()
      })
    },
    removeAct (lot) {
      this.$confirm('Voulez-vous supprimer cet acte de façon définitive. Continuer ?', 'Attention', {
        confirmButtonText: 'Continuer',
        cancelButtonText: 'Annuler',
        type: 'warning'
      }).then(() => {
        let loadingInstance = Loading.service({target: '#content'})
        lot.delete()
          .then(() => {
            loadingInstance.close()
            this.$message.success('Acte supprimé avec succès...')
          })
      }).catch(() => {
        this.$message.info('Suppression annulée...')
      })
    },
    publishAll () {
      this.lots.forEach(lot => {
        if (lot.status === actStatus.CORRECTED) {
          lot.publish({user: cleanObject(this.user)})
        }
      })
    }
  },
  mounted () {
    this.initData()
  }
}
</script>
