<template>
  <el-form label-position="right">
    <div v-if="lot.status" class="right-text">
      <label v-if="lot.locked"><small>Verrouillé    </small></label>
      <label v-else><small>Déverrouillé    </small></label>
      <el-switch
        v-model="lot.locked"
        @change="changeActive">
      </el-switch>
      <p></p>
      <el-button type="info" @click="viewAct">Consulter l'acte</el-button>
      <el-button disabled type="success">{{lot.status}}</el-button>
    </div>
    <fieldset>
      <legend>Identification de l'unité d'évaluation</legend>
      <!-- act form -->
      <el-row :gutter="16">
        <el-col :sm="12">
          <el-form-item label="Numéro d'inscription" label-width="160px">
            <el-input-mask mask="99999999" v-model="lot.act.inscriptionNumber"/>
          </el-form-item>
        </el-col>
        <el-col :sm="12">
          <el-form-item label="Date d'inscription" label-width="160px">
            <el-date-picker type="date" value-format="dd/MM/yyyy" format="dd/MM/yyyy" style="width: 100%" v-model="lot.act.inscriptionDate"/>
          </el-form-item>
        </el-col>
        <el-col :sm="24">
          <el-form-item label="Type de transaction" label-width="160px">
            <el-select v-model="lot.act.transactionType" filterable style="width: 100%"
                       placeholder="merci de sélectionner le type de transaction">
              <el-option
                v-for="(transaction, index) in transactionsTypes"
                :key="index"
                :label="transaction.type"
                :value="transaction.type"/>
            </el-select>
          </el-form-item>
        </el-col>
        <!-- <el-col :sm="12">
          <el-form-item label="Date d'échéance" label-width="160px">
            <el-date-picker type="date" style="width: 100%" v-model="lot.act.deadline"/>
          </el-form-item>
        </el-col> -->
        <el-col :sm="8">
          <el-form-item label="Propriétaire / Acquéreur" label-width="160px">
            <el-select v-model="lot.act.owner.category" filterable style="width: 100%">
              <el-option
                v-for="(category, index) in ownersCategories"
                :key="index"
                :label="category"
                :value="category"/>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="16">
          <el-form-item>
            <el-input v-model="lot.act.owner.name"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label-width="160px">
            <el-form-item label="Email"></el-form-item>
          </el-form-item>
        </el-col>
        <el-col :sm="16">
          <el-form-item>
            <el-input v-model="lot.act.owner.email"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label-width="160px">
            <el-form-item type="phone" label="Téléphone"></el-form-item>
          </el-form-item>
        </el-col>
        <el-col :sm="16">
          <el-form-item>
            <el-input type="email" v-model="lot.act.owner.phone"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label-width="160px">
            <el-form-item label="Facebook"></el-form-item>
          </el-form-item>
        </el-col>
        <el-col :sm="16">
          <el-form-item>
            <el-input v-model="lot.act.owner.facebook"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label-width="160px">
            <el-form-item label="Twitter"></el-form-item>
          </el-form-item>
        </el-col>
        <el-col :sm="16">
          <el-form-item>
            <el-input v-model="lot.act.owner.twitter"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label-width="160px">
            <el-form-item label="LinkedIn"></el-form-item>
          </el-form-item>
        </el-col>
        <el-col :sm="16">
          <el-form-item>
            <el-input v-model="lot.act.owner.linkedin"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label="Créancier / Vendeur" label-width="160px">
            <el-select v-model="lot.act.seller.category" filterable style="width: 100%">
              <el-option
                v-for="(category, index) in sellersCategories"
                :key="index"
                :label="category"
                :value="category"/>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="16">
          <el-form-item>
            <el-input v-model="lot.act.seller.name"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label="Juriste" label-width="160px">
            <el-select v-model="lot.act.jurist.category" filterable style="width: 100%">
              <el-option
                v-for="(category, index) in juristsCategories"
                :key="index"
                :label="category"
                :value="category"/>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="16">
          <el-form-item>
            <el-input v-model="lot.act.jurist.name"/>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- /act form -->
      <!-- <act-form-inputs :act="lot.act"/> -->
      <el-row :sm="16">
        <el-col :sm="12">
          <el-form-item label="Catégorie" label-width="160px">
            <el-select @change="selectOffice" v-model="lot.category" filterable style="width: 100%">
              <el-option
                v-for="(record, index) in categories"
                :key="index"
                :label="record"
                :value="record"/>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12">
          <el-form-item label="Matricule" label-width="160px">
            <el-input v-model="lot.registrationNumber"/>
          </el-form-item>
        </el-col>
        <el-col :sm="12">
          <el-form-item label="Numéro du lot" label-width="160px">
            <el-input v-model="lot.lotNumber"/>
          </el-form-item>
        </el-col>
        <el-col :sm="12">
          <el-form-item label="Numéro du dossier" label-width="160px">
            <el-input v-model="lot.folderNumber"/>
          </el-form-item>
        </el-col>
        <el-col :sm="12">
          <el-form-item label="Bureau" label-width="160px">
            <el-select v-model="lot.office" filterable style="width: 100%">
              <el-option
                v-for="(record, index) in offices"
                :key="index"
                :label="record"
                :value="record"/>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :sm="12">
          <el-form-item label="N° d'unité de voisinage" label-width="160px">
            <el-input v-model="lot.neighborhoodUnitNumber"/>
          </el-form-item>
        </el-col>
      </el-row>
    </fieldset>
    <fieldset class="margin-top">
      <legend>Adresse(s) de l'unité d'évaluation</legend>
      <el-form-item label="Rechercher adresse" label-width="180px">
        <places :value="address" :options="{ countries: ['CA'] }" @change="addressChanged"/>
      </el-form-item>
      <el-row :gutter="16">

        <el-col :sm="24">
          <el-form-item label="Adresse" label-width="180px">
            <el-input v-model="lot.address.address"/>
          </el-form-item>
        </el-col>
        <el-col :sm="24">
          <el-form-item label="Adresse (complément)" label-width="180px">
            <el-input v-model="lot.address.address2"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label="Arrondissement" label-width="180px">
            <el-input v-model="lot.address.district"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label="Code postal" label-width="100px">
            <el-input-mask mask="a9a 9a9" v-model="lot.address.zipCode"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label="Ville" label-width="100px">
            <el-input v-model="lot.address.city"/>
          </el-form-item>
        </el-col>

        <el-col :sm="12">
          <el-form-item label="Latitude" label-width="180px">
            <el-input v-model="lot.geoPoint.latitude"/>
          </el-form-item>
        </el-col>
        <el-col :sm="12">
          <el-form-item label="Longitude" label-width="180px">
            <el-input v-model="lot.geoPoint.longitude"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item label="Type de zonage" label-width="180px">
        <el-radio-group v-model="lot.address.zoningType">
          <el-radio label="zone industielle">Zonage industiel</el-radio>
          <el-radio label="zone résidentielle">Zonage résidentiel</el-radio>
          <el-radio label="zone commerciale">Zonage commercial</el-radio>
          <el-radio label="zone agricole">Zonage agricole</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="Type de bien" label-width="110px">
        <el-checkbox-group v-model="lot.address.categories">
          <el-checkbox label="Terrain"/>
          <el-checkbox label="Bungalow"/>
          <el-checkbox label="Cottage"/>
          <el-checkbox label="Duplex"/>
          <el-checkbox label="Plain-pied"/>
          <el-checkbox label="Jumelé"/>
          <el-checkbox label="Triplex"/>
          <el-checkbox label="Split-level"/>
          <el-checkbox label="Semi détaché"/>
          <el-checkbox label="Maison mobile"/>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item label="Emplacement sur la carte" label-width="180px">
        <mapbox
          ref="map"
          access-token="pk.eyJ1IjoibW91ZWRoZW4iLCJhIjoiY2pqOGp3czRrMm51bzNwcWdjZW9heDh5cSJ9.M7AvNbb1mTE5SnR2SB99dA"
          @map-load="mapLoaded"
          @map-click="mapClicked"
          :map-options="{
              style: 'mapbox://styles/mapbox/streets-v9',
              center: [-71.2079809, 46.8138783],
              zoom: 12
            }"
          :geolocate-control="{
              show: false,
              position: 'top-left'
            }">
        </mapbox>
        <el-radio-group v-model="mapStyle">
          <el-radio @change="changeMapStyle" label="streets">Standard</el-radio>
          <el-radio @change="changeMapStyle" label="satellite">Satellite</el-radio>
        </el-radio-group>
        <gmap-street-view-panorama
          ref="pano"
          v-if="latitude && longitude"
          class="pano"
          :position="{lat: latitude, lng: longitude}"
          :pov="pov" :zoom="1" @pano_changed="updatePano" @pov_changed="updatePov"/>
        <!-- <div ref="pano" style="width: 450px; height: 200px"></div> -->
      </el-form-item>
    </fieldset>
    <fieldset class="margin-top">
      <legend>Caractéristiques de l'unité d'évaluation</legend>
      <el-row :gutter="16">
        <el-col :sm="8">
          <el-form-item label="Année de construction" label-width="170px">
            <el-input v-model="lot.constructionYear"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label="Superficie du terrain" label-width="170px">
            <el-input v-model="lot.fieldArea"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label="Superficie du bâtiment" label-width="170px">
            <el-input v-model="lot.buildingArea"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label="Nombre d'étages" label-width="170px">
            <el-input v-model="lot.floorsNumber"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label="Nombre de logements" label-width="170px">
            <el-input v-model="lot.housingsNumber"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label="Nombre de locaux commerciaux" label-width="220px">
            <el-input v-model="lot.commercialPremisesNumber"/>
          </el-form-item>
        </el-col>
      </el-row>
    </fieldset>
    <fieldset class="margin-top">
      <legend>Valeurs aux rôles d'évaluation</legend>
      <el-row :gutter="16">
        <el-col :sm="8">
          <el-form-item label="Valeur du terrain" label-width="170px">
            <el-input type="number" v-model="lot.landValue"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label="Valeur du bâtiment" label-width="170px">
            <el-input type="number" v-model="lot.constructionValue"/>
          </el-form-item>
        </el-col>
        <el-col :sm="8">
          <el-form-item label="Valeur de l'immeuble" label-width="170px">
            <el-input type="number" v-model="lot.buildingValue"/>
          </el-form-item>
        </el-col>
        <el-col :sm="24">
          <el-form-item label="Montant" label-width="170px">
            <el-input type="number" v-model="lot.value"/>
          </el-form-item>
        </el-col>
      </el-row>
    </fieldset>
    <fieldset class="margin-top">
      <legend>Autres</legend>
      <el-form-item label="Commentaire" label-width="170px">
        <el-input type="textarea" v-model="lot.comment"></el-input>
      </el-form-item>
      <el-form-item v-if="user.role !== roles.ENTRY_OFFICIER.designation" label="Résumé" label-width="170px">
        <el-input type="textarea" v-model="lot.resume"></el-input>
      </el-form-item>
    </fieldset>
    <el-form-item class="margin-top center-text">
      <el-button type="primary" @click="save">Sauvegarder</el-button>
      <el-button v-if="lot.status === actStatus.BEING_PROCESSED || lot.status === actStatus.NEW"
                 type="info" @click="saveAndProcess">
        Sauvegarder et transférer en correction
      </el-button>
      <el-button v-if="lot.status === actStatus.BEING_CORRECTED" type="warning" @click="saveAndProcess">
        Terminer la correction
      </el-button>
      <el-button v-if="canPublish && role !== 'Agent de saisie'"
                 type="success" @click="saveAndPublish">Publier
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import { mapGetters } from 'vuex'
import { Loading } from 'element-ui'

import Mapbox from 'mapbox-gl-vue'
import Places from './../locations/Places'
import ElInputMask from './../core/ElInputMask'

import { actStatus } from '../../core/models/acts/enum/acts-status'
import { juristsCategories } from '../../core/models/acts/const/jurists-categories'
import { ownersCategories } from '../../core/models/acts/const/owners-categories'
import { sellersCategories } from '../../core/models/acts/const/sellers-categories'

import { cleanObject } from '../../core/helpers'

import City from '../../core/models/configuration/city'
import GeoPoint from '../../core/models/locations/classes/geo-point'
import {roles} from '../../core/models/users/const/roles'

export default {
  name: 'ProcessLotForm',
  components: {ElInputMask, Mapbox, Places},
  props: ['lot'],
  data () {
    return {
      roles,
      ownersCategories,
      sellersCategories,
      juristsCategories,
      address: '',
      // eslint-disable-next-line no-undef
      marker: new mapboxgl.Marker(),
      mapStyle: 'streets',
      pov: null,
      pano: null,
      cities: [],
      categories: [],
      offices: [],
      actStatus
    }
  },
  computed: {
    ...mapGetters({
      user: 'users/getCurrentUser',
      transactionsTypes: 'transactionType/getAll'
    }),
    role: function () {
      return this.user.role
    },
    map: function () {
      return this.$refs.map._map
    },
    latitude: function () {
      return this.lot.geoPoint.latitude
    },
    longitude: function () {
      return this.lot.geoPoint.longitude
    }
  },
  methods: {
    viewAct () {
      window.open(this.lot.act.attachment.url)
    },
    canPublish () {
      return this.lot.status === actStatus.PROCESSED || this.lot.status === actStatus.CORRECTED
    },
    saveAndPublish () {
      let loadingInstance = Loading.service({target: '#content'})
      this.lot.publish({user: cleanObject(this.user)})
        .then(() => {
          loadingInstance.close()
          this.$router.go(-1)
        })
        .catch(error => {
          loadingInstance.close()
          this.$message.error('Une erreur s\'est produite lors de l\'enregistrement, merci de rééssayer...')
          console.log(error)
        })
    },
    saveAndProcess () {
      console.log('saving and processing')
      if (this.lot.status === actStatus.BEING_PROCESSED) {
        let loadingInstance = Loading.service({target: '#content'})
        this.lot.endProcess({user: cleanObject(this.user)})
          .then(() => {
            loadingInstance.close()
            this.$router.go(-1)
          })
          .catch(error => {
            loadingInstance.close()
            this.$message.error('Une erreur s\'est produite lors de l\'enregistrement, merci de rééssayer...')
            console.log(error)
          })
      } else if (this.lot.status === actStatus.BEING_CORRECTED) {
        let loadingInstance = Loading.service({target: '#content'})
        this.lot.endCorrection({user: cleanObject(this.user)})
          .then(() => {
            loadingInstance.close()
            this.$router.go(-1)
          })
          .catch(error => {
            loadingInstance.close()
            this.$message.error('Une erreur s\'est produite lors de l\'enregistrement, merci de rééssayer...')
            console.log(error)
          })
      } else {
        this.save()
      }
    },
    initData () {
      this.$store.dispatch('transactionType/syncCollection')
        .catch(e => {
          console.log(e)
        })
      new City({}).fetchAll().then(records => {
        this.cities = records
        this.categories = records.map(record => record.category).sort().filter((item, pos, table) => {
          return !pos || item !== table[pos - 1]
        })
        this.offices = records.map(record => record.office).sort().filter((item, pos, table) => {
          return !pos || item !== table[pos - 1]
        })
      })
    },
    selectOffice (value) {
      console.log(value)
    },
    save () {
      let loadingInstance = Loading.service({target: '#content'})
      this.lot.save()
        .then((result) => {
          loadingInstance.close()
          this.$message.success('Lot sauvegardé avec succès...')
          this.$router.go(-1)
        })
        .catch(error => {
          loadingInstance.close()
          this.$message.error('Une erreur s\'est produite lors de l\'enregistrement, merci de rééssayer...')
          console.log(error)
        })
    },
    updatePov (pov) {
      if (pov) this.pov = pov
    },
    updatePano (pano) {
      if (pano) this.pano = pano
    },
    addressChanged (e) {
      if (e !== undefined && e.latlng !== undefined) {
        this.lot.geoPoint = new GeoPoint({})
        this.replaceMarker(this.map, e.latlng.lng, e.latlng.lat)
        this.lot.address.address = e.name || ''
        this.lot.address.address2 = e.administrative || ''
        this.lot.address.district = e.county || ''
        this.lot.address.city = e.city || ''
        this.lot.address.zipCode = e.postcode || ''
        this.reverseGeocode(e.latlng.lng, e.latlng.lat, false)
      }
    },
    mapLoaded (map) {
      if (this.lot.geoPoint.latitude !== null) {
        this.marker.setLngLat([this.lot.geoPoint.longitude, this.lot.geoPoint.latitude]).addTo(map)
        map.flyTo({center: this.marker.getLngLat(), zoom: 12})
      }
    },
    changeMapStyle () {
      this.map.setStyle('mapbox://styles/mapbox/' + this.mapStyle + '-v9')
    },
    replaceMarker (map, longitude, latitude) {
      if (longitude !== undefined && latitude !== undefined) {
        this.marker.setLngLat([longitude, latitude]).addTo(map)
        this.lot.geoPoint.longitude = longitude
        this.lot.geoPoint.latitude = latitude
        map.flyTo({center: this.marker.getLngLat()})
      }
    },
    mapClicked (map, e) {
      this.replaceMarker(map, e.lngLat.lng, e.lngLat.lat)
      this.reverseGeocode(e.lngLat.lng, e.lngLat.lat, true)
    },
    reverseGeocode (longitude, latitude, withAddress) {
      // eslint-disable-next-line no-undef
      MapboxGeocoder
        .reverseGeocode({
          query: [longitude, latitude],
          limit: 1,
          language: ['fr']
        })
        .send()
        .then(response => {
          let feature = response.body.features[0]
          if (withAddress) {
            this.lot.address.address = feature.place_name_fr.split(',')[0]
          }
          let context = feature.context
          context.forEach(data => {
            let dataType = data.id.split('.')[0]
            switch (dataType) {
              case 'postcode':
                this.lot.address.zipCode = data.text_fr
                break
              case 'place':
                this.lot.address.city = data.text_fr
                break
              case 'neighborhood':
                this.lot.address.district = data.text_fr
                break
              default:
                break
            }
          })
        })
    },
    changeActive () {
      this.lot.lock()
    }
  },
  mounted () {
    if (this.latitude && this.longitude) {
      this.replaceMarker(this.map, this.lot.geoPoint.longitude, this.lot.geoPoint.latitude)
    }
    this.initData()
  }
}
</script>

<style scoped>
  #map {
    height: 300px;
  }

  .pano {
    width: 100%;
    height: 600px;
  }
</style>
