<template>
  <div>
    <fieldset class="margin-top">
      <legend>Identification de l'unité d'évaluation</legend>
      <el-row :gutter="16">
        <el-col :sm="12">
          <title-description title="Numéro d'inscription" :description="lot.act.inscriptionNumber"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Date d'inscription"
                             :description="lot.act.inscriptionDate|convertTimestamp2DateString"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Type de transaction" :description="lot.act.transactionType"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Date d'échéance" :description="lot.act.deadline|convertTimestamp2DateString"/>
        </el-col>
        <el-col :sm="24">
          <title-description title="Propriétaire / Acquéreur" :description="lot.act.owner|personToString"/>
        </el-col>
        <el-col :sm="24">
          <title-description title="Créancier / Vendeur" :description="lot.act.seller|personToString"/>
        </el-col>
        <el-col :sm="24">
          <title-description title="Juriste" :description="lot.act.jurist|personToString"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Catégorie" :description="lot.category"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Matricule" :description="lot.registrationNumber"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Numéro du lot" :description="lot.lotNumber"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Numéro du dossier" :description="lot.folderNumber"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Bureau" :description="lot.office"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="N° d'unité de voisinage" :description="lot.neighborhoodUnitNumber"/>
        </el-col>
      </el-row>
    </fieldset>
    <fieldset class="margin-top">
      <legend>Adresse de l'unité d'évaluation</legend>
      <el-row :gutter="16">
        <el-col :sm="24">
          <title-description title="Adresse" :description="lot.address.address"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Adresse (complément)" :description="lot.address.address2"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Arrondissement" :description="lot.address.district"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Code postal" :description="lot.address.zipCode"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Ville" :description="lot.address.city"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Type de zonage" :description="lot.address.zoningType"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Type de bien" :description="lot.address.categories|arrayToString"/>
        </el-col>
      </el-row>
    </fieldset>
    <el-row class="margin-top" v-if="latitude && longitude">
      <el-col :sm="12">
        <gmap-street-view-panorama
          ref="pano"
          class="pano"
          :position="{lat: latitude, lng: longitude}"
          :pov="pov" :zoom="1" @pano_changed="updatePano" @pov_changed="updatePov"/>
      </el-col>
      <el-col :sm="12">
        <mapbox
          ref="map"
          access-token="pk.eyJ1IjoibW91ZWRoZW4iLCJhIjoiY2pqOGp3czRrMm51bzNwcWdjZW9heDh5cSJ9.M7AvNbb1mTE5SnR2SB99dA"
          @map-load="mapLoaded"
          :map-options="{
              style: 'mapbox://styles/mapbox/streets-v9',
              center: [longitude, latitude],
              zoom: 12
            }"
          :geolocate-control="{
              show: false,
              position: 'top-left'
            }">
        </mapbox>
      </el-col>
    </el-row>
    <fieldset class="margin-top">
      <legend>Caractéristiques de l'unité d'évaluation</legend>
      <el-row :gutter="16">
        <el-col :sm="12">
          <title-description title="Année de construction" :description="lot.constructionYear"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Superficie du terrain" :description="lot.fieldArea"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Superficie du bâtiment" :description="lot.buildingArea"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Nombre d'étages" :description="lot.floorsNumber"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Nombre de logements" :description="lot.housingsNumber"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Nombre de locaux commerciaux" :description="lot.commercialPremisesNumber"/>
        </el-col>
      </el-row>
    </fieldset>
    <fieldset class="margin-top">
      <legend>Valeurs aux rôles d'évaluation</legend>
      <el-row :gutter="16">
        <el-col :sm="12">
          <title-description title="Valeur du terrain" :description="lot.landValue"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Valeur du bâtiment" :description="lot.constructionValue"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Valeur de l'immeuble" :description="lot.buildingValue"/>
        </el-col>
        <el-col :sm="12">
          <title-description title="Montant" :description="lot.value"/>
        </el-col>
      </el-row>
    </fieldset>
    <fieldset class="margin-top">
      <legend>Autres</legend>
      <title-description title="Commentaire" :description="lot.comment"/>
    </fieldset>
  </div>
</template>

<script>
import Mapbox from 'mapbox-gl-vue'
import { mapGetters } from 'vuex'

import TitleDescription from '../core/TitleDescription'

export default {
  name: 'LotDetails',
  components: {Mapbox, TitleDescription},
  props: ['lot'],
  data () {
    return {
      // eslint-disable-next-line no-undef
      marker: new mapboxgl.Marker(),
      mapStyle: 'streets',
      pov: null,
      pano: null
    }
  },
  computed: {
    ...mapGetters({
      customer: 'users/getCurrentCustomer'
    }),
    map: function () {
      if (!this.$refs.map) return null
      return this.$refs.map._map
    },
    latitude: function () {
      return this.lot.geoPoint.latitude
    },
    longitude: function () {
      return this.lot.geoPoint.longitude
    }
  },
  filters: {
    personToString (person) {
      if (person.category && person.name) {
        return person.category + ' - ' + person.name
      } else if (!person.category && person.name) {
        return person.name
      } else if (person.category && !person.name) {
        return person.category
      } else {
        return null
      }
    },
    userToString (user) {
      if (user.firstName && user.lastName) {
        return user.firstName + ' ' + user.lastName
      } else if (!user.firstName && user.lastName) {
        return user.lastName
      } else if (user.firstName && !user.lastName) {
        return user.firstName
      } else {
        return user.uid
      }
    }
  },
  methods: {
    viewAct () {
      window.open(this.lot.act.attachment.url)
    },
    updatePov (pov) {
      if (pov) this.pov = pov
    },
    updatePano (pano) {
      if (pano) this.pano = pano
    },
    mapLoaded (map) {
      if (this.latitude !== null) {
        this.marker.setLngLat([this.longitude, this.latitude]).addTo(map)
        map.flyTo({center: this.marker.getLngLat(), zoom: 12})
      }
    },
    changeMapStyle () {
      this.map.setStyle('mapbox://styles/mapbox/' + this.mapStyle + '-v9')
    }
  },
  mounted () {
    if (this.map) this.mapLoaded(this.map)
  }
}
</script>

<style scoped>
  #map {
    height: 350px;
  }

  .pano {
    width: 100%;
    height: 350px;
  }

  legend {
    font-size: 1.2rem;
    color: #656565 !important;
  }

  dl {
    padding: .5rem;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
    padding: 0 0 0.5rem 0;
    line-height: 1.8rem;
  }

  p, dt, dd {
    font-size: 1rem !important;
    color: #222222;
  }

  p, dt {
    color: #222222;
  }

  dd {
    color: #7e7e7e;
  }
</style>
