<template>
  <div class="columns">
    <div class="column">
      <news-component></news-component>
    </div>
  </div>
</template>

<script>
import NewsComponent from '../admin/news/NewsComponent'

export default {
  name: 'NewsListCustomer',
  components: {NewsComponent}
}
</script>

<style scoped>

</style>
