<template>
  <admin-layout>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
      <el-breadcrumb-item>Gestion des clients</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="right-text">
      <el-button type="primary" icon="el-icon-plus" circle @click="addCustomer"></el-button>
    </div>
    <el-card class="margin-top">
      <h2>Clients</h2>
      <el-row :gutter="16">
        <el-col :span="12">
          <el-input
            v-model="filters[0].value"
            placeholder="Chercher les clients par nom, prénom, téléphone ou email"/>
        </el-col>
        <el-col :span="12">
          <el-select v-model="filters[1].value" class="full-width" placeholder="Filtrer par type d'abonnement" multiple="multiple">
            <el-option v-for="(membership, index) in memberships" :key="index" :label="membership.label" :value="membership.designation"/>
          </el-select>
        </el-col>
      </el-row>
      <data-tables :data="customers" @selection-change="handleSelectionChange" :filters="filters" :action-col="actionCol">
        <el-table-column width="200" prop="firstName" label="Prénom"/>
        <el-table-column width="200" prop="lastName" label="Nom"/>
        <el-table-column width="200" prop="email" label="Email"/>
        <el-table-column width="200" prop="phoneNumber" label="Téléphone"/>
        <el-table-column width="150" prop="membership" label="Abonnement"/>
        <!--<el-table-column width="100" prop="credits" label="Crédits"/>-->
        <el-table-column label="Activé" width="70">
          <template slot-scope="scope">
            <el-switch v-model="scope.row.isActive" @change="changeActive(scope.$index, scope.row)"/>
          </template>
        </el-table-column>
        <el-table-column width="200" prop="createdAt" label="Ajouté le"/>
        <el-table-column width="200" prop="updatedAt" label="Modifié le"/>
      </data-tables>
    </el-card>
  </admin-layout>
</template>
<script>
import { Loading } from 'element-ui'
import { mapGetters } from 'vuex'
import AdminLayout from '../../../layouts/admin/AdminLayout'
import Customer from '../../../core/models/customers/Customer'
import Membership from '../../../core/models/customers/membership'
export default {
  name: 'CustomersIndex',
  components: {AdminLayout},
  computed: {
    ...mapGetters({
      customers: 'customers/getAll'
    })
  },
  data () {
    return {
      memberships: [],
      filters: [
        {
          prop: ['firstName', 'lastName', 'email', 'phoneNumber'],
          value: ''
        },
        {
          value: [],
          prop: 'membership'
        }
      ],
      actionCol: {
        props: {
          width: '150',
          fixed: 'right',
          align: 'center',
          label: 'Actions'
        },
        buttons: [
          {
            props: {
              type: 'primary',
              icon: 'el-icon-edit',
              size: 'small'
            },
            handler: row => {
              this.$router.push({name: 'update-customer', params: {uid: row.id}})
            }
          },
          {
            props: {
              type: 'danger',
              icon: 'el-icon-delete',
              size: 'small'
            },
            handler: row => {
              this.$confirm('Voulez-vous supprimer ce client de façon définitive. Continuer ?', 'Attention', {
                confirmButtonText: 'Continuer',
                cancelButtonText: 'Annuler',
                type: 'warning'
              }).then(() => {
                let loadingInstance = Loading.service({target: '#content'})
                new Customer({id: row.id}).remove().then(() => {
                  loadingInstance.close()
                  this.$message.success('Le client a été supprimé avec succès...')
                }).catch(error => {
                  console.log(error)
                  loadingInstance.close()
                })
              }).catch(() => {
                this.$message.info('Suppression annulée')
              })
            }
          }]
      },
      selectedRow: []
    }
  },
  mounted () {
    this.initData()
    this.initMemberships()
  },
  methods: {
    initMemberships () {
      new Membership({}).fetchAll().then(records => {
        this.memberships = records
      }).catch(error => {
        console.log(error)
        this.$message.error('Erreur lors de la lecture des données.')
      })
    },
    initData () {
      let loadingInstance = Loading.service({target: '#content'})
      this.$store.dispatch('customers/syncCollection').then(() => {
        loadingInstance.close()
      }).catch(error => {
        console.log(error)
        loadingInstance.close()
      })
    },
    addCustomer () {
      this.$router.push({name: 'create-customer'})
    },
    changeActive (index, row) {
      row.setActive(row.isActive)
    },
    handleSelectionChange (val) {
      this.selectedRow = val
    }
  }
}
</script>

<style scoped>

</style>
