<template>
  <admin-layout id="#content">
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>Tableau de bord</el-breadcrumb-item>
      <el-breadcrumb-item>Gestion des clients</el-breadcrumb-item>
      <el-breadcrumb-item v-if="customer.id">Modifier un client</el-breadcrumb-item>
      <el-breadcrumb-item v-else>Ajouter un client</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="margin-top">
      <el-card style="padding: 1rem 0">
        <el-form ref="form" :rules="rules" :model="customer" label-width="200px">
          <el-form-item label="Nom">
            <el-input v-model="customer.lastName"></el-input>
          </el-form-item>
          <el-form-item label="Prénom">
            <el-input v-model="customer.firstName"></el-input>
          </el-form-item>
          <el-form-item label="Email" prop="email">
            <el-input v-model="customer.email" :disabled="customer.id !== null && customer.id !== undefined"
                      name="email"></el-input>
          </el-form-item>
          <el-form-item label="Téléphone">
            <el-input v-model="customer.phoneNumber" name="phoneNumber"></el-input>
          </el-form-item>
          <el-form-item label="Abonnement" prop="membership">
            <el-select class="full-width" v-model="customer.membership" placeholder="sélectionner un abonnement">
              <el-option class="capitalize"
                         v-for="membership in memberships"
                         :key="membership.id"
                         :label="membership.designation"
                         :value="membership.designation">{{ membership.designation }}
              </el-option>
            </el-select>
          </el-form-item>
          <!--<el-form-item label="Crédits">
            <el-input v-model="customer.credits" name="credits"></el-input>
          </el-form-item>-->
          <el-form-item v-if="!customer.id" label="Mot de passe" prop="password">
            <el-input type="password" v-model="customer.password" name="password"></el-input>
          </el-form-item>
          <el-form-item v-if="!customer.id" label="Confirmer le mot de passe" prop="passwordConfirm">
            <el-input type="password" v-model="customer.passwordConfirm" name="passwordConfirm"></el-input>
          </el-form-item>
          <el-form-item label="Activé">
            <el-switch v-model="customer.isActive"></el-switch>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="save">Sauvegarder</el-button>
            <el-button @click="cancel">Retour</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </admin-layout>
</template>

<script>
import { Loading } from 'element-ui'
import AdminLayout from '../../../layouts/admin/AdminLayout'
import Membership from '../../../core/models/customers/membership'
import Customer from '../../../core/models/customers/Customer'

export default {
  name: 'CustomerForm',
  components: {AdminLayout},
  data () {
    let validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Veuillez ressaisir votre mot de passe'))
      } else if (value !== this.customer.password) {
        callback(new Error('Les deux mots de passe ne sont pas identiques'))
      } else {
        callback()
      }
    }
    return {
      memberships: [],
      customer: new Customer({}),
      rules: {
        email: [
          {required: true, message: 'L\'adresse email est obligatoire', trigger: true},
          {type: 'email', message: 'Vérifier le format de cette adresse email', trigger: true}
        ],
        password: [
          {required: true, message: 'Le mot de passe est obligatoire', trigger: true},
          {min: 6, message: 'Le mot de passe doit contenir au moins 6 caractères', trigger: 'blur'}
        ],
        passwordConfirm: [
          {required: true, message: 'Retaper votre mot de passe', trigger: 'blur'},
          {validator: validatePass, trigger: 'blur'}
        ],
        /*
          credits: [
          {required: true, message: 'Attribuer au moins 0 crédits au client', trigger: 'blur'}
        ],
        */
        membership: [
          {required: true, message: 'Sélectionner un type d\'abonnement pour le client', trigger: 'blur'}
        ]
      }
    }
  },
  methods: {
    initMemberships () {
      new Membership({}).fetchAll().then(records => {
        this.memberships = records
      }).catch(error => {
        console.log(error)
        this.$message.error('Erreur lors de la lecture des données.')
      })
    },
    cancel () {
      this.$router.replace({name: 'customers-index'})
    },
    reinitialize () {
      this.customer = new Customer({})
    },
    add () {
      let loadingInstance = Loading.service({target: '#content'})
      this.customer.create().then(() => {
        loadingInstance.close()
        this.$message.success('Le client a été ajouté avec succès')
        this.reinitialize()
      }).catch(error => {
        loadingInstance.close()
        if (error.code === 'auth/invalid-phone-number') {
          this.customer.uid = null
          this.$message.error('Numéro de téléphone invalide')
        } else {
          console.log('error', error)
          this.customer.uid = null
          this.$message.error('Une erreur a eu lieu lors de la sauvegarde. Veuillez vérifier votre adresse email')
        }
      })
    },
    update () {
      let loadingInstance = Loading.service({target: '#content'})
      this.customer.update().then(() => {
        loadingInstance.close()
        this.$message.success('Le client a été modifié avec succès')
        this.$router.push({name: 'customers-index'})
      }).catch(error => {
        console.log(error)
        loadingInstance.close()
        this.$message.error('Une erreur a eu lieu lors de la sauvegarde. Veuillez réessayer')
      })
    },
    save () {
      this.$refs['form'].validate((valid) => {
        if (valid) {
          if (this.customer.id) { // updating a customer profile
            this.update()
          } else { // creating a new customer
            this.add()
          }
        }
      })
    }
  },
  mounted () {
    if (this.$route.params.uid) {
      let loadingInstance = Loading.service({target: '#content'})
      this.customer = new Customer({id: this.$route.params.uid})
      this.customer.getCustomerById().then(() => {
        loadingInstance.close()
      }).catch(e => {
        console.log(e)
        loadingInstance.close()
      })
    }
    this.initMemberships()
  }
}
</script>
