<template>
  <admin-layout>
    <el-card class="margin-top">
      <h2>Mes Favoris</h2>
      <el-row :gutter="16">
        <el-col :span="24">
          <el-input
            v-model="filters[0].value"
            placeholder="Chercher mes favoris par numéro d'inscription/type de transaction/créancier/Propriétaire/juriste..."/>
        </el-col>
      </el-row>
      <br>
      <data-tables :data="records" style="width: 100%" :filters="filters" :table-props="props">
        <el-table-column type="expand">
          <template slot-scope="props">
            <row-details :lot="props.row"/>
          </template>
        </el-table-column>
        <el-table-column label="Type de transaction" prop="act.transactionType"/>
        <el-table-column label="Date d'inscription" prop="act.inscriptionDate">
          <template slot-scope="scope">
            <span>{{ scope.row.act.inscriptionDate|convertTimestamp2DateString }}</span>
          </template>
        </el-table-column>
        <el-table-column label="Créancier" prop="act.seller.name"/>
        <el-table-column label="Débiteur" prop="act.owner.name"/>
        <el-table-column label="Montant" prop="value" width="100px"/>
        <el-table-column label="Adresse" prop="address.address"/>
        <el-table-column label="Circonscription" prop="office"/>
        <el-table-column label="Code Postal" prop="address.zipCode"/>
        <el-table-column label="Ville" prop="address.city"/>
      </data-tables>
    </el-card>
  </admin-layout>
</template>

<script>
import AdminLayout from '../../../layouts/admin/AdminLayout'
import { mapGetters } from 'vuex'
import { arrayHadString } from '../../../core/helpers'
import RowDetails from './../../../components/acts/RowDetails'
import moment from 'moment'
moment.locale('fr')

export default {
  name: 'FavoritesIndex',
  components: {AdminLayout, RowDetails},
  data () {
    return {
      pov: null,
      pano: null,
      filters: [
        {
          filterFn: (row, filterItem) => {
            return arrayHadString([
              row.act.inscriptionNumber,
              row.act.transactionType,
              row.act.ownerDisplay,
              row.act.sellerDisplay,
              row.act.juristDisplay
            ], filterItem.value)
          }
        }
      ],
      props: {
        stripe: true,
        border: true,
        maxHeight: '500'
      }
    }
  },
  computed: {
    ...mapGetters({
      publications: 'publications/getAll',
      favorites: 'favorites/getAll',
      purchases: 'purchases/getAll',
      customer: 'users/getCurrentCustomer'
    }),
    records: function () {
      return this.publications.filter(publication => {
        return this.isFavorite(publication)
      })
    }
  },
  watch: {
    customer: function (val) {
      if (val.id) {
        this.initData()
        this.loading = false
      }
    }
  },
  mounted () {
    this.syncData()
  },
  methods: {
    initData () {
      this.$store.dispatch('favorites/syncCollection', this.customer.id).catch(error => {
        console.log(error)
      })
      this.$store.dispatch('purchases/syncCollection', this.customer.id).catch(error => {
        console.log(error)
      })
    },
    syncData () {
      this.$store.dispatch('publications/syncCollection')
        .catch(e => {
          console.log(e)
        })
    },
    isFavorite (publication) {
      var publicationsIds = []
      this.favorites.forEach(favorite => {
        publicationsIds.push(favorite.lotId)
      })
      let publicationIdIndex = publicationsIds.findIndex(publicationId => {
        return publication.id === publicationId
      })
      return publicationIdIndex > -1
    },
    updatePov (pov) {
      if (pov) this.pov = pov
    },
    updatePano (pano) {
      if (pano) this.pano = pano
    }
  }
}
</script>
