<template>
  <public-layout>
    <div v-if="resumes" class="scroll-left">
      <marquee><pre>{{resumes}}</pre></marquee>
    </div>
    <div style="padding: 1rem" v-loading="loading">
      <el-card style="padding-bottom: 3rem">
        <h2>Publications du jour</h2>
        <el-row :gutter="16">
          <el-col :span="8">
            <el-input
              v-model="filters[0].value"
              placeholder="Chercher par numéro d'inscription/type de transaction/créancier/Propriétaire/juriste..."/>
          </el-col>
          <el-col :span="8">
            <el-input
              v-model="filters[2].value"
              placeholder="Rechercher par ville..."/>
          </el-col>
          <el-col :span="8">
            <el-select default-first-option v-model="filters[1].value" class="full-width"
                       placeholder="Aujourd'hui">
              <el-option v-for="(duration, index) in durations" :key="index" :label="duration.designation"
                         :value="duration.label"/>
            </el-select>
          </el-col>
        </el-row>
        <br>
        <data-tables
          :data="records"
          :filters="filters"
          :table-props="props"
          style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="props">
              <row-details :lot="props.row"/>
            </template>
          </el-table-column>
          <el-table-column label="Type de transaction" prop="act.transactionType" width="170" sortable/>
          <el-table-column label="Date d'inscription" prop="act.inscriptionDate" width="120" align="center" sortable>
            <template slot-scope="scope">
              <span v-if="typeof scope.row.act.inscriptionDate === 'string'">{{ scope.row.act.inscriptionDate}}</span>
              <span v-else>{{ scope.row.act.inscriptionDate|convertTimestamp2DateString }}</span>
            </template>
          </el-table-column>
          <el-table-column label="Créancier" prop="act.seller.name" width="250" sortable/>
          <el-table-column label="Débiteur" prop="act.owner.name" width="250" sortable/>
          <el-table-column label="Adresse" prop="address" sortable>
            <template slot-scope="scope">
              <span v-if="scope.row.address.address">{{scope.row.address.address}}, </span>
              <span v-if="scope.row.address.address2">, {{scope.row.address.address2}}</span>
              <span v-if="scope.row.address.zipCode">, {{scope.row.address.zipCode}}</span>
              <span v-if="scope.row.category">, {{scope.row.category}}</span>
              <span v-if="scope.row.address.city">, {{scope.row.address.city}}</span>
            </template>
          </el-table-column>
          <el-table-column label="Montant en $" prop="value" :sort-method="sortByValue" width="180px"
                           align="center" sortable>
            <template slot-scope="scope">
              <div v-if="scope.row.value">{{parseFloat(scope.row.value).toLocaleString('en')}} $</div>
              <div v-else>-</div>
            </template>
          </el-table-column>
        </data-tables>
      </el-card>
    </div>
  </public-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import { arrayHadString } from '../../../core/helpers'
import PublicLayout from '../../../layouts/public/PublicLayout'
import RowDetails from './../../../components/acts/RowDetails'
import { durations } from '../../../core/models/customers/const/durations'
import moment from 'moment'

export default {
  name: 'Publications',
  components: {PublicLayout, RowDetails},
  data () {
    return {
      durations,
      loading: true,
      pov: null,
      pano: null,
      filters: [
        {
          filterFn: (row, filterItem) => {
            return arrayHadString([
              row.act.inscriptionNumber,
              row.act.transactionType,
              row.act.ownerDisplay,
              row.act.sellerDisplay,
              row.act.juristDisplay
            ], filterItem.value)
          }
        },
        {
          value: 3,
          filterFn: (row, filterItem) => {
            let inscriptionDate = row.act.inscriptionDate
            let difference = 0
            if (typeof inscriptionDate === 'string') {
              difference = moment(inscriptionDate, 'DD/MM/YYYY').diff(moment().subtract(filterItem.value, 'days').startOf('day')) / 3600000
            } else if (inscriptionDate !== undefined && inscriptionDate !== null) {
              if (inscriptionDate.seconds !== undefined && inscriptionDate.seconds !== null) {
                difference = moment(inscriptionDate.seconds * 1000).diff(moment().subtract(filterItem.value, 'days').startOf('day')) / 3600000
              }
            }
            return difference >= 0
          }
        },
        {
          filterFn: (row, filterItem) => {
            return arrayHadString([
              row.address.city
            ], filterItem.value)
          }
        }
      ],
      props: {
        stripe: true,
        border: true,
        maxHeight: '500'
      }
    }
  },
  watch: {
    customer: function (val) {
      if (val.id) {
        this.initData()
        this.loading = false
      }
    },
    user: function (val) {
      if (val.uid) {
        this.initData()
        this.loading = false
      }
    }
  },
  computed: {
    ...mapGetters({
      publications: 'publications/getAll',
      purchases: 'purchases/getAll',
      customer: 'users/getCurrentCustomer',
      user: 'users/getCurrentUser',
      favorites: 'favorites/getAll'
    }),
    resumes: function () {
      let resumeText = ''
      if (this.publications) {
        this.publications.forEach(publication => {
          // let inscriptionDate = publication.act.inscriptionDate
          // let difference = 0
          // if (typeof inscriptionDate === 'string') {
          //   difference = moment(inscriptionDate, 'DD/MM/YYYY').diff(moment().subtract(2, 'days').startOf('day')) / 3600000
          // } else if (inscriptionDate !== undefined && inscriptionDate !== null) {
          //   if (inscriptionDate.seconds !== undefined && inscriptionDate.seconds !== null) {
          //     difference = moment(inscriptionDate.seconds * 1000).diff(moment().subtract(2, 'days').startOf('day')) / 3600000
          //   }
          // }
          if (publication.resume) {
            resumeText += publication.resume + '\t\t'
          }
        })
      }
      return resumeText.slice(0, -3)
    },
    records: function () {
      if (this.publications) {
        return this.publications.slice().sort((a, b) => a.act.inscriptionDate < b.act.inscriptionDate)
      }
      return []
    }
  },
  methods: {
    sortByValue (a, b) {
      if (typeof a.value === 'string') a.value = parseFloat(a.value)
      if (typeof b.value === 'string') b.value = parseFloat(b.value)
      let sortArray = [a.value, b.value]
      return sortArray.sort()
    },
    initData () {
      this.$store.dispatch('favorites/syncCollection', this.customer.id).catch(error => {
        console.log(error)
      })
      this.$store.dispatch('purchases/syncCollection', this.customer.id).catch(error => {
        console.log(error)
      })
    },
    updatePov (pov) {
      if (pov) this.pov = pov
    },
    updatePano (pano) {
      if (pano) this.pano = pano
    },
    syncData () {
      this.$store.dispatch('publications/syncCollection', {limit: 50})
        .catch(e => {
          console.log(e)
        })
    }
  },
  mounted () {
    if (this.customer.id) {
      this.loading = false
    }
    if (this.user.uid) {
      this.loading = false
    }
    this.syncData()
  }
}
</script>
<style>
  .el-carousel__item p {
    color: #475669;
    font-size: 1rem;
    opacity: 0.75;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }

  .scroll-left {
    z-index: 30;
    background: rgba(18, 130, 162, 1);
    color: #f2f2f2;
    font-size: 1rem;
    height: 3rem;
    overflow: hidden;
    position: fixed;
    top: calc(100vh - 3rem);
    width: 100%;
  }

  .scroll-left pre {
    // position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 3rem;
    text-align: center;
    /* Starting position */
    // -moz-transform: translateX(100%);
    // -webkit-transform: translateX(100%);
    // transform: translateX(100%);
    /* Apply animation to this element */
    // -moz-animation: scroll-left 60s linear infinite;
    // -webkit-animation: scroll-left 60s linear infinite;
    // animation: scroll-left 60s linear infinite;
  }

  /* Move it (define the animation) */
  @-moz-keyframes scroll-left {
    0% {
      -moz-transform: translateX(100%);
    }
    100% {
      -moz-transform: translateX(-100%);
    }
  }

  @-webkit-keyframes scroll-left {
    0% {
      -webkit-transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
    }
  }

  @keyframes scroll-left {
    0% {
      -moz-transform: translateX(100%); /* Browser bug fix */
      -webkit-transform: translateX(100%); /* Browser bug fix */
      transform: translateX(100%);
    }
    100% {
      -moz-transform: translateX(-100%); /* Browser bug fix */
      -webkit-transform: translateX(-100%); /* Browser bug fix */
      transform: translateX(-100%);
    }
  }
</style>
