<template>
  <admin-layout>
    <el-card class="margin-top">
      <h2>Mes actes</h2>
      <el-row :gutter="16">
        <el-col :span="24">
          <el-input
            v-model="filters[0].value"
            placeholder="Chercher mes actes par numéro d'inscription/type de transaction/créancier/Propriétaire/juriste..."/>
        </el-col>
      </el-row>
      <br>
      <data-tables :data="records" style="width: 100%" :filters="filters" :table-props="props">
        <el-table-column type="expand">
          <template slot-scope="props">
            <row-details :lot="props.row"/>
          </template>
        </el-table-column>
        <el-table-column label="Numéro d'inscription" prop="act.inscriptionNumber" width="150px"/>
        <el-table-column label="Type de transaction" prop="act.transactionType"/>
        <el-table-column label="Créancier / Vendeur" prop="act.seller.name"/>
        <el-table-column label="Propriétaire / Acquéreur" prop="act.owner.name"/>
        <el-table-column label="Juriste" prop="act.jurist.name"/>
      </data-tables>
    </el-card>
  </admin-layout>
</template>

<script>
import AdminLayout from '../../../layouts/admin/AdminLayout'
import { mapGetters } from 'vuex'
import { arrayHadString } from '../../../core/helpers'
import RowDetails from './../../../components/acts/RowDetails'
export default {
  name: 'PurchasesIndex',
  components: {AdminLayout, RowDetails},
  data () {
    return {
      pov: null,
      pano: null,
      filters: [
        {
          filterFn: (row, filterItem) => {
            return arrayHadString([
              row.act.inscriptionNumber,
              row.act.transactionType,
              row.act.ownerDisplay,
              row.act.sellerDisplay,
              row.act.juristDisplay
            ], filterItem.value)
          }
        }
      ],
      props: {
        stripe: true,
        border: true,
        maxHeight: '500'
      }
    }
  },
  computed: {
    ...mapGetters({
      lots: 'lots/getAll',
      purchases: 'purchases/getAll',
      favorites: 'favorites/getAll',
      customer: 'users/getCurrentCustomer'
    }),
    records: function () {
      return this.lots.filter(lot => {
        return this.isPurchased(lot)
      })
    }
  },
  watch: {
    customer: function (val) {
      if (val.id) {
        this.initData()
        this.loading = false
      }
    }
  },
  mounted () {
    this.syncData()
  },
  methods: {
    initData () {
      this.$store.dispatch('purchases/syncCollection', this.customer.id).catch(error => {
        console.log(error)
      })
      this.$store.dispatch('favorites/syncCollection', this.customer.id).catch(error => {
        console.log(error)
      })
    },
    syncData () {
      this.$store.dispatch('lots/syncCollection')
        .catch(e => {
          console.log(e)
        })
    },
    isPurchased (lot) {
      var lotsIds = []
      this.purchases.forEach(purchase => {
        lotsIds.push(purchase.lotId)
      })
      let lotIdIndex = lotsIds.findIndex(lotId => {
        return lot.id === lotId
      })
      return lotIdIndex > -1
    },
    updatePov (pov) {
      if (pov) this.pov = pov
    },
    updatePano (pano) {
      if (pano) this.pano = pano
    }
  }
}
</script>

<style scoped>

</style>
